:root {
  --gray-00: #FFFFFF;
  --gray-50: #82838D;
  --gray-90: #202023;
}

.main-container {
  width: 390px;
  height: 844px;
  background-color: #F7F7F8;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header .title {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.header .icons {
  display: flex;
  gap: 10px;
}

.header .icons .icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .icons .user-icon {
  background-image: url(../../assets/icon-user.png);
}

.header .icons .settings-icon {
  background-image: url(../../assets/icon-setting.png);
}

.calendar-container {
  margin-bottom: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 10px;
  color: var(--gray-50);
  text-align: center;
}

.calendar-header select {
  border: none;
  margin-right: 30px;
  padding: 5px;
  border-radius: 20px;
}

.react-calendar {
  width: 320px;
  background-color: #F7F7F8;
  border: none;
  align-items: center;
}

.react-calendar__tile {
  color: #82838D;
  font-size: 18px;
  height: 44px;
}

.react-calendar__tile--now {
  background: #c9c9c9 !important;
  border-radius: 0;
}

.react-calendar__tile--active {
  background: #000 !important;
  color: #FFF !important;
  border-radius: 50%;
}

.react-calendar__tile:not(.react-calendar__tile--active):not(.react-calendar__tile--now) {
  color: #82838D;
}

.react-calendar__month-view__days__day {
  color: #82838D;
  font-size: 18px;
}

.react-calendar__year-view__months__month {
  color: #555;
}

.react-calendar__navigation span {
  font-size: 16px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: var(--gray-50);
}

.react-calendar__month-view__weekdays {
  margin-top: -15px;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  flex: 1;
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday:last-child {
  margin-right: 0; /* 마지막 요일은 오른쪽 여백 제거 */
}

.month-calendar {
  display: flex;
  justify-content: center;
  color: #82838D;
  margin-left: -10px;
  margin: 0 auto;
}

.week-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F8; 
  padding: 10px;
  width: 340px;
  margin: 0 auto; 
}

.week-calendar .navigation {
  display: flex;
  justify-content: space-evenly; /* 버튼 간격 조정 */
  width: 92%;
  margin-top: -5px;
}

.week-calendar .navigation button {
  background-color: #F7F7F8;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -1px;
}

.week-calendar .navigation div {
  font-size: 16px;
  font-weight: normal; /* 볼드 제거 */
  margin-top: 5px; /* 약간 밑으로 내림 */
}

.week-header,
.week-days {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; /* 요일과 날짜 일직선으로 맞춤 */
}

.week-days {
  margin-top: -5px; /* 간격 조정 */
}

.day-cell {
  flex: 1;
  text-align: center;
  background-color: #F7F7F8; /* 월간 달력 배경 색과 동일하게 변경 */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--gray-50);
  font-size: 18px;
  border: none; /* 테두리 제거 */
  margin-bottom: -5px;
}

.day-cell:hover {
  background-color: #ddd;
}

.day-cell.selected {
  background-color: #000 !important; /* 선택된 날짜 색상 변경 */
  color: #FFF !important;
  border-radius: 50%;
}

.daily-praise {
  width: 358px;
  height: 184px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--gray-00);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
}

.meal-guide {
  margin-bottom: 10px;
  color: var(--gray-90);
  text-align: left;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.meal-guide p {
white-space: pre-line;
}

.quiz-button {
width: 320px;
height: 56px;
background-color: #202023;
color: #F7F7F8;
border-radius: 30px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
border: none;
margin-top: 20px;
}

.quiz-button.completed {
background-color: #9C9EA5;
color: #FFFFFF;
cursor: not-allowed; /* 클릭 안 되게 */
}


.MealReport {
  width: 358px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--gray-00);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.MealReport .meal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.MealReport .meal-title {
  display: flex;
  align-items: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: bold;
  color: var(--gray-90);
}

.MealReport .meal-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.MealReport .meal-icon.BREAKFAST {
  background-image: url('../../assets/icon-breakfast.png'); /* 실제 이미지 경로로 변경 */
}

.MealReport .meal-icon.LUNCH {
  background-image: url('../../assets/icon-lunch.png'); /* 실제 이미지 경로로 변경 */
}

.MealReport .meal-icon.DINNER {
  background-image: url('../../assets/icon-dinner.png'); /* 실제 이미지 경로로 변경 */
}

.MealReport .meal-icon.SNACK {
  background-image: url('../../assets/icon-snack.png'); /* 실제 이미지 경로로 변경 */
}

.MealReport .meal-icon.LATENIGHT {
  background-image: url('../../assets/icon-latenight.png'); /* 실제 이미지 경로로 변경 */
}

.MealReport .meal-time {
  font-family: Pretendard;
  font-size: 16px;
  color: var(--gray-50);
}

.MealReport .meal-end-time {
  font-size: 18px;
  font-weight: bold;
}

.MealReport .meal-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.MealReport .meal-status {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.MealReport .meal-emoji {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.MealReport .meal-emoji-before.COMFORTABLE {
  background-image: url(../../assets/icon-mood-smile-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-after.COMFORTABLE {
  background-image: url(../../assets/icon-mood-smile-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-before.HAPPY {
  background-image: url(../../assets/icon-mood-happy-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-after.HAPPY {
  background-image: url(../../assets/icon-mood-happy-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-before.EASY {
  background-image: url(../../assets/icon-mood-empty-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-after.EASY {
  background-image: url(../../assets/icon-mood-empty-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-before.GUILT {
  background-image: url(../../assets/icon-mood-sad-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-after.GUILT {
  background-image: url(../../assets/icon-mood-sad-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-before.IRRITATE {
  background-image: url(../../assets/icon-mood-angry-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-after.IRRITATE {
  background-image: url(../../assets/icon-mood-angry-y.png); /* 실제 이미지 경로로 변경 */
}

.MealReport .meal-emoji-before.ANXIOUS {
  background-image: url(../../assets/icon-mood-wrrr-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-after.ANXIOUS {
  background-image: url(../../assets/icon-mood-wrrr-y.png); /* 실제 이미지 경로로 변경 */
}

.MealReport .meal-emoji-before.LONELY {
  background-image: url(../../assets/icon-mood-confuzed-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-emoji-after.LONELY {
  background-image: url(../../assets/icon-mood-confuzed-y.png); /* 실제 이미지 경로로 변경 */
}


.MealReport .meal-description {
  font-family: Pretendard;
  font-size: 16px;
  color: var(--gray-90);
  font-weight: bold; /* 식사 이름 볼드 처리 */
  flex-direction: column; /* 수직 정렬 */
  margin-left: 40px; /* 오른쪽으로 배치하기 위한 여백 추가 */
}

.MealReport .meal-emoji {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
  position: relative; /* 점선과의 위치 조정을 위해 relative 속성 추가 */
}

.MealReport .meal-emoji:not(:last-child)::after {
  content: '';
  display: block;
  width: 50px; /* 두 이모티콘 사이의 간격 설정 */
  height: 2px;
  border-bottom: 2px dotted #B7B8BD; /* 회색 점선 스타일 */
  position: absolute;
  top: 50%;
  left: 100%; /* 이모티콘 바로 다음 위치 */
  transform: translateX(-5px); /* 간격 추가 */
  transform: translateY(-2px); /* 간격 추가 */
}

.MealReport .meal-emoji:nth-child(1) {
margin-left: 3px; /* 앞 간격 추가 */

}

.MealReport .meal-emoji:nth-child(2) {
margin-left: 45px; /* 첫 번째 이모티콘과의 간격 추가 */
margin-top: 1.8px;
}

.MealReport .meal-toast-button {
background-color: #FFE589;
border: none;
border-radius: 5px;
padding: 5px 10px;
font-size: 14px;
font-weight: bold; /* 버튼 글씨 볼드 처리 */
margin-right: 5px; /* 증상 버튼 사이 간격 */
cursor: pointer;
margin-top: 10px;
}

.MealReport .meal-toast-button:first-child {
margin-left: 0; /* 첫 번째 버튼의 왼쪽 간격 제거 */
}

.MealReport .meal-label-before {
font-size: 12px; /* 글씨 크기 줄이기 */
color: var(--gray-50); /* 연한 회색으로 변경 */
}

.MealReport .meal-label-after {
font-size: 12px; /* 글씨 크기 줄이기 */
color: var(--gray-50); /* 연한 회색으로 변경 */
margin-left: 25px;
}


.record-button-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.record-button {
  background-image: url(../../assets/dairy-btn.png);
  width: 151px;
  height: 48px;
  border: none;
  background-position: center;
  cursor: pointer;
}